.tile-container {
  display: flex;
  flex: 1;
  margin: 10px;
}

.tile {
  background-color: #B1BB1C;
  width: 400px;
  margin: 2px 8px;
  border-radius: 5px;
}

.tile a p{
  color: black;
}

.tile .inner {
  width: auto;
  height: auto;
  padding: 10px;
}

.tile .title {
  display: flex;
  align-items: center;
}

.tile .title-text h2 {
  color: #00662C;
  padding: 5px 10px;
  margin:0;
}

.tile table {
  width: 100%;
}
