body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Ovo', serif;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.1em;
  font-family: 'Muli', sans-serif;
}

.material-icons.darkgreen {
  color: #00662C;
}

.header {
  background-color: #B1BB1C;
  display: flex;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 8px 8px;
  min-width: 40px;
}

.logo img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  border: 2px solid #00662C;
  box-sizing: border-box;
}

.header-text {
  display: inline-block;
}

.header-text h1 {
  margin: 0;
  padding: 10px 10px 10px 0px;
  color: #00662C;
  font-size: 1.2em;
  font-family: 'Muli', sans-serif;
}

#nav-toggle {
  position: relative;
  margin-left: auto;
  padding-right: 3px;
  padding-left: 7px;
  display: flex;
  align-items: center;
}

#nav-toggle h2 {
  font-family: 'Muli', sans-serif;
  display: inline-block;
  font-size: 0.9em;
  color: #00662C;
}

#nav-chevron {
  display: inline-block;
  height: 24px;
}

#nav-chevron.point-up {
  transform: rotate(180deg);
  animation: navChevronUp 1s;
}

#nav-chevron.point-down {
  transform: rotate(  0deg);
  animation: navChevronDown 1s;
}

#nav {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
}

#nav.open {
  animation: navSlideOpen 1s;
  max-height: 500px
}

#nav.closed {
  animation: navSlideClose 1s;
  max-height: 0;
}

@keyframes navSlideOpen {
  from {max-height: 0;}
  to {max-height: 500px;}
}

@keyframes navSlideClose {
  from {max-height: 500px;}
  to {max-height: 0;}
}

@keyframes navChevronUp {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}

@keyframes navChevronDown {
  from {transform: rotate(180deg);}
  to {transform: rotate(0deg);}
}

#nav ul {
  padding-left: 0;
  width: 70%;
  margin-top: 2px;
  margin-bottom: 2px;
}

#nav li {
  list-style: none;
  color: #00662C;
  padding: 4px;
  text-align: center;
  margin: 8px;
  border: 2px solid #B1BB1C;
  border-radius: 8px;
  font-size: 1.0em;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  flex: 1;
}

.footer {
  text-align: center;
  background-color: grey;
  height: 50px;
  padding-top: 10px;
}
